.mynt-pull-down{
  border:1px solid #ccc;
  background-color:white;
  border-radius:4px;
  position:absolute;
  margin:0;
  padding:0;
  box-shadow:4px 4px 8px rgba(0,0,0,0.5);
  max-height:200px;
  min-height:25px;
  overflow-x:hidden;
  overflow-y:auto;
}

.mynt-pull-down > *{
  margin:0;
  padding:2px 8px;
  cursor:pointer;
  list-style:none;
}
.mynt-pull-down > *[data-select="1"]{
  background-color:#EEF;
}
.mynt-pull-down > *[data-match="1"]{
  background-color:#CCF !important;
}
.mynt-pull-down > *:hover{
  background-color:#EEF;
}
