.mynt-pull-down{
  border:1px solid #ccc;
  background-color:white;
  border-radius:4px;
  position:absolute;
  margin:0;
  padding:0;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  /* counter-reset: num; */
}
/* .mynt-pull-down:empty{
  display:none;
} */
.mynt-pull-down > *{
  margin:0;
  padding:2px 8px;
  cursor:pointer;
  list-style:none;
}
.mynt-pull-down > *[data-select="1"]{
  background-color:#FEE;
}
.mynt-pull-down > *:hover{
  background-color:#FEE;
}
/* .mynt-pull-down > *:before{
  counter-increment: num;
  content: counter(num) ". ";
  pointer-events:none;

} */