.mynt-pulldown{
  border:1px solid #ccc;
  background-color:white;
  border-radius:4px;
  position:absolute;
  margin:0;
  padding:0;
  box-shadow:4px 4px 8px rgba(0,0,0,0.5);
  max-height:200px;
  min-height:25px;
  overflow-x:hidden;
  overflow-y:auto;
}

.mynt-pulldown > *{
  margin:0;
  padding:2px 8px;
  cursor:pointer;
  list-style:none;
  text-align:left;
}
.mynt-pulldown > *[data-select="1"]{
  background-color : #FEE;
}
.mynt-pulldown > *[data-match="1"]{
  background-color : #EEF;
}
.mynt-pulldown > *:hover{
  background-color : #FEE;
}
.mynt-pulldown > *[data-select="1"]:hover{
  background-color : #EFE;
}
.mynt-pulldown > *[data-match="1"]:hover{
  background-color : #EFE;
}
.mynt-pulldown > *[data-match="1"][data-select="1"]{
  background-color : #EFE !important;
}